body {
    background-color: white;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 27px;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

a.white-btn {
    display: inline-block;
    background-color: #f9f9f9;
    color: #DC6327;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    font-family: "Arial", sans-serif;
}
a.orange-btn {
    display: inline-block;
    background-color: #DC6327;
    color: #f9f9f9;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    font-family: "Arial", sans-serif;
}
a.blue-btn {
    display: inline-block;
    background-color: #1D84A6;
    color: #f9f9f9;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    font-family: "Arial", sans-serif;
}

p{
    font-family: "PT Sans", sans-serif;
}